*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.header_container{
    margin: 20px auto;
    text-align: center;
}

.title{
    font-family: "Liu Jian Mao Cao", cursive;
    font-size: xx-large;
}

.description{
    line-height: 1.7rem;
    font-family: "Exo 2", sans-serif;
}

main{
    font-family: "Exo 2", sans-serif;
}

.member_name{
    margin-top: 10px;
}